<div class="container">
  <h2><%= @question %></h2>
  <h4>- <em>You</em></h4>
</div>

<br>

<div class="container answer">
  <h2><%= @answer %></h2>
  <h4>- <em>Your Coach</em></h4>
</div>

<br>

<%= link_to "Ask again", ask_path %>
